In [1]:
import pandas as pd
import os

read CSV

In [2]:
share_Bike_1 = pd.read_csv(r"D:\Portfolio\New\track\case study\__MACOSX\202301-divvy-tripdata.csv", encoding='latin1')
share_Bike_2 = pd.read_csv(r"D:\Portfolio\New\track\case study\__MACOSX\202302-divvy-tripdata.csv", encoding='latin1')
share_Bike_3 = pd.read_csv(r"D:\Portfolio\New\track\case study\__MACOSX\202303-divvy-tripdata.csv", encoding='latin1')
share_Bike_4 = pd.read_csv(r"D:\Portfolio\New\track\case study\__MACOSX\202304-divvy-tripdata.csv", encoding='latin1')
share_Bike_5 = pd.read_csv(r"D:\Portfolio\New\track\case study\__MACOSX\202305-divvy-tripdata.csv", encoding='latin1')
share_Bike_6 = pd.read_csv(r"D:\Portfolio\New\track\case study\__MACOSX\202306-divvy-tripdata.csv", encoding='latin1')
share_Bike_7 = pd.read_csv(r"D:\Portfolio\New\track\case study\__MACOSX\202307-divvy-tripdata.csv", encoding='latin1')
share_Bike_8 = pd.read_csv(r"D:\Portfolio\New\track\case study\__MACOSX\202308-divvy-tripdata.csv", encoding='latin1')
share_Bike_9 = pd.read_csv(r"D:\Portfolio\New\track\case study\__MACOSX\202309-divvy-tripdata.csv", encoding='latin1')
share_Bike_10 = pd.read_csv(r"D:\Portfolio\New\track\case study\__MACOSX\202310-divvy-tripdata.csv", encoding='latin1')
share_Bike_11 = pd.read_csv(r"D:\Portfolio\New\track\case study\__MACOSX\202311-divvy-tripdata.csv", encoding='latin1')
share_Bike_12 = pd.read_csv(r"D:\Portfolio\New\track\case study\__MACOSX\202312-divvy-tripdata.csv", encoding='latin1')

Make columns consistent and merge them into a single dataframe

In [3]:
bike_list = [share_Bike_1,share_Bike_2,share_Bike_3,share_Bike_4,share_Bike_5,share_Bike_6,share_Bike_7,share_Bike_8,share_Bike_9,share_Bike_10,share_Bike_11,share_Bike_12]
all_bike =pd.concat(bike_list)
all_bike.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5719877 entries, 0 to 224072
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 610.9+ MB

In [4]:
all_bike.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,F96D5A74A3E41399,electric_bike,2023-01-21 20:05:42,2023-01-21 20:16:33,Lincoln Ave & Fullerton Ave,TA1309000058,Hampden Ct & Diversey Ave,202480.0,41.924074,-87.646278,41.930000,-87.640000,member
1,13CB7EB698CEDB88,classic_bike,2023-01-10 15:37:36,2023-01-10 15:46:05,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member
2,BD88A2E670661CE5,electric_bike,2023-01-02 07:51:57,2023-01-02 08:05:11,Western Ave & Lunt Ave,RP-005,Valli Produce - Evanston Plaza,599,42.008571,-87.690483,42.039742,-87.699413,casual
3,C90792D034FED968,classic_bike,2023-01-22 10:52:58,2023-01-22 11:01:44,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member
4,3397017529188E8A,classic_bike,2023-01-12 13:58:01,2023-01-12 14:13:20,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member

Connvert  start time and end time  form objest into Date

In [5]:
all_bike['started_at'] = pd.to_datetime(all_bike['started_at'])
all_bike['ended_at'] = pd.to_datetime(all_bike['ended_at'])
all_bike.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5719877 entries, 0 to 224072
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 610.9+ MB

In [6]:
all_bike.rename(columns={'rideable_type':'ride_type','started_at':'start_time','ended_at':'end_time','member_casual':'member_type'},inplace= True )
all_bike.head()

,ride_id,ride_type,start_time,end_time,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_type
0,F96D5A74A3E41399,electric_bike,2023-01-21 20:05:42,2023-01-21 20:16:33,Lincoln Ave & Fullerton Ave,TA1309000058,Hampden Ct & Diversey Ave,202480.0,41.924074,-87.646278,41.930000,-87.640000,member
1,13CB7EB698CEDB88,classic_bike,2023-01-10 15:37:36,2023-01-10 15:46:05,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member
2,BD88A2E670661CE5,electric_bike,2023-01-02 07:51:57,2023-01-02 08:05:11,Western Ave & Lunt Ave,RP-005,Valli Produce - Evanston Plaza,599,42.008571,-87.690483,42.039742,-87.699413,casual
3,C90792D034FED968,classic_bike,2023-01-22 10:52:58,2023-01-22 11:01:44,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member
4,3397017529188E8A,classic_bike,2023-01-12 13:58:01,2023-01-12 14:13:20,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member

Create Colummns to identfy  time  , months , year and day of the weeks

In [7]:
#Time 
all_bike['time']= all_bike['start_time'].dt.strftime("%H:%M")
#month
all_bike['month']=all_bike['start_time'].dt.month_name()
#year
all_bike['year']=all_bike['start_time'].dt.year
#Day of the week 
all_bike['day_of_week']=all_bike['start_time'].dt.day_name()

all_bike.head()

,ride_id,ride_type,start_time,end_time,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_type,time,month,year,day_of_week
0,F96D5A74A3E41399,electric_bike,2023-01-21 20:05:42,2023-01-21 20:16:33,Lincoln Ave & Fullerton Ave,TA1309000058,Hampden Ct & Diversey Ave,202480.0,41.924074,-87.646278,41.930000,-87.640000,member,20:05,January,2023,Saturday
1,13CB7EB698CEDB88,classic_bike,2023-01-10 15:37:36,2023-01-10 15:46:05,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member,15:37,January,2023,Tuesday
2,BD88A2E670661CE5,electric_bike,2023-01-02 07:51:57,2023-01-02 08:05:11,Western Ave & Lunt Ave,RP-005,Valli Produce - Evanston Plaza,599,42.008571,-87.690483,42.039742,-87.699413,casual,07:51,January,2023,Monday
3,C90792D034FED968,classic_bike,2023-01-22 10:52:58,2023-01-22 11:01:44,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member,10:52,January,2023,Sunday
4,3397017529188E8A,classic_bike,2023-01-12 13:58:01,2023-01-12 14:13:20,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member,13:58,January,2023,Thursday

In [8]:
#combining 'month' & 'year' column
all_bike['month_year']=pd.to_datetime(all_bike['month'].astype(str) + all_bike['year'].astype(str),format ='%B%Y').dt.strftime('%b-%Y')

In [9]:
all_bike

,ride_id,ride_type,start_time,end_time,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_type,time,month,year,day_of_week,month_year
0,F96D5A74A3E41399,electric_bike,2023-01-21 20:05:42,2023-01-21 20:16:33,Lincoln Ave & Fullerton Ave,TA1309000058,Hampden Ct & Diversey Ave,202480.0,41.924074,-87.646278,41.930000,-87.640000,member,20:05,January,2023,Saturday,Jan-2023
1,13CB7EB698CEDB88,classic_bike,2023-01-10 15:37:36,2023-01-10 15:46:05,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member,15:37,January,2023,Tuesday,Jan-2023
2,BD88A2E670661CE5,electric_bike,2023-01-02 07:51:57,2023-01-02 08:05:11,Western Ave & Lunt Ave,RP-005,Valli Produce - Evanston Plaza,599,42.008571,-87.690483,42.039742,-87.699413,casual,07:51,January,2023,Monday,Jan-2023
3,C90792D034FED968,classic_bike,2023-01-22 10:52:58,2023-01-22 11:01:44,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member,10:52,January,2023,Sunday,Jan-2023
4,3397017529188E8A,classic_bike,2023-01-12 13:58:01,2023-01-12 14:13:20,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member,13:58,January,2023,Thursday,Jan-2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224068,F74DF9549B504A6B,electric_bike,2023-12-07 13:15:24,2023-12-07 13:17:37,900 W Harrison St,13028,Racine Ave & Congress Pkwy,TA1306000025,41.874702,-87.649804,41.874640,-87.657030,casual,13:15,December,2023,Thursday,Dec-2023
224069,BCDA66E761CC1029,classic_bike,2023-12-08 18:42:21,2023-12-08 18:45:56,900 W Harrison St,13028,Racine Ave & Congress Pkwy,TA1306000025,41.874754,-87.649807,41.874640,-87.657030,casual,18:42,December,2023,Friday,Dec-2023
224070,D2CF330F9C266683,classic_bike,2023-12-05 14:09:11,2023-12-05 14:13:01,900 W Harrison St,13028,Racine Ave & Congress Pkwy,TA1306000025,41.874754,-87.649807,41.874640,-87.657030,member,14:09,December,2023,Tuesday,Dec-2023
224071,3829A0D1E00EE970,electric_bike,2023-12-02 21:36:07,2023-12-02 21:53:45,Damen Ave & Madison St,13134,Morgan St & Lake St*,chargingstx4,41.881396,-87.674984,41.885492,-87.652289,casual,21:36,December,2023,Saturday,Dec-2023
224072,A373F5B447AEA508,classic_bike,2023-12-11 13:07:46,2023-12-11 13:11:24,900 W Harrison St,13028,Racine Ave & Congress Pkwy,TA1306000025,41.874754,-87.649807,41.874640,-87.657030,member,13:07,December,2023,Monday,Dec-2023

Calculate the length of each ride

In [10]:
all_bike['length_time'] = (all_bike['end_time']-all_bike['start_time']).dt.total_seconds().div(60).astype(float)
all_bike.head()

,ride_id,ride_type,start_time,end_time,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_type,time,month,year,day_of_week,month_year,length_time
0,F96D5A74A3E41399,electric_bike,2023-01-21 20:05:42,2023-01-21 20:16:33,Lincoln Ave & Fullerton Ave,TA1309000058,Hampden Ct & Diversey Ave,202480.0,41.924074,-87.646278,41.930000,-87.640000,member,20:05,January,2023,Saturday,Jan-2023,10.850000
1,13CB7EB698CEDB88,classic_bike,2023-01-10 15:37:36,2023-01-10 15:46:05,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member,15:37,January,2023,Tuesday,Jan-2023,8.483333
2,BD88A2E670661CE5,electric_bike,2023-01-02 07:51:57,2023-01-02 08:05:11,Western Ave & Lunt Ave,RP-005,Valli Produce - Evanston Plaza,599,42.008571,-87.690483,42.039742,-87.699413,casual,07:51,January,2023,Monday,Jan-2023,13.233333
3,C90792D034FED968,classic_bike,2023-01-22 10:52:58,2023-01-22 11:01:44,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member,10:52,January,2023,Sunday,Jan-2023,8.766667
4,3397017529188E8A,classic_bike,2023-01-12 13:58:01,2023-01-12 14:13:20,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member,13:58,January,2023,Thursday,Jan-2023,15.316667

Dropping rows containing Trip Duration in Negative

In [11]:
# check if there  are Negative values
print(len(
    all_bike[all_bike['length_time']<0]
    ))

272

In [12]:
df_index=all_bike[all_bike['length_time']<0].index
bike =all_bike.drop(df_index)

bike.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5717745 entries, 0 to 224072
Data columns (total 19 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   ride_type           object
 2   start_time          datetime64[ns]
 3   end_time            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_type         object
 13  time                object
 14  month               object
 15  year                int32
 16  day_of_week         object
 17  month_year          object
 18  length_time         float64
dtypes: datetime64[ns](2), float64(5), int32(1), object(11)
memory usage: 850.6+ MB

Dropping rows containing Tests in start_station_name

In [13]:
print(len(
    bike[bike['start_station_name'].str.contains('Test'or 'test' or 'TEST' )==True]
))

18

In [14]:
df_index =bike[bike['start_station_name'].str.contains('Test'or 'test' or 'TEST' )==True].index
bike = bike.drop(df_index)

In [15]:
bike.head()

,ride_id,ride_type,start_time,end_time,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_type,time,month,year,day_of_week,month_year,length_time
0,F96D5A74A3E41399,electric_bike,2023-01-21 20:05:42,2023-01-21 20:16:33,Lincoln Ave & Fullerton Ave,TA1309000058,Hampden Ct & Diversey Ave,202480.0,41.924074,-87.646278,41.930000,-87.640000,member,20:05,January,2023,Saturday,Jan-2023,10.850000
1,13CB7EB698CEDB88,classic_bike,2023-01-10 15:37:36,2023-01-10 15:46:05,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member,15:37,January,2023,Tuesday,Jan-2023,8.483333
2,BD88A2E670661CE5,electric_bike,2023-01-02 07:51:57,2023-01-02 08:05:11,Western Ave & Lunt Ave,RP-005,Valli Produce - Evanston Plaza,599,42.008571,-87.690483,42.039742,-87.699413,casual,07:51,January,2023,Monday,Jan-2023,13.233333
3,C90792D034FED968,classic_bike,2023-01-22 10:52:58,2023-01-22 11:01:44,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member,10:52,January,2023,Sunday,Jan-2023,8.766667
4,3397017529188E8A,classic_bike,2023-01-12 13:58:01,2023-01-12 14:13:20,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member,13:58,January,2023,Thursday,Jan-2023,15.316667

Drop the Columns that we don't need  (year , month , end_ing  and start_lat )

In [16]:
# drop some columns
bike.drop(['year', 'month', 'end_lng', 'start_lat'], axis=1, inplace=True)
bike.head()

,ride_id,ride_type,start_time,end_time,start_station_name,start_station_id,end_station_name,end_station_id,start_lng,end_lat,member_type,time,day_of_week,month_year,length_time
0,F96D5A74A3E41399,electric_bike,2023-01-21 20:05:42,2023-01-21 20:16:33,Lincoln Ave & Fullerton Ave,TA1309000058,Hampden Ct & Diversey Ave,202480.0,-87.646278,41.930000,member,20:05,Saturday,Jan-2023,10.850000
1,13CB7EB698CEDB88,classic_bike,2023-01-10 15:37:36,2023-01-10 15:46:05,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,-87.594747,41.809835,member,15:37,Tuesday,Jan-2023,8.483333
2,BD88A2E670661CE5,electric_bike,2023-01-02 07:51:57,2023-01-02 08:05:11,Western Ave & Lunt Ave,RP-005,Valli Produce - Evanston Plaza,599,-87.690483,42.039742,casual,07:51,Monday,Jan-2023,13.233333
3,C90792D034FED968,classic_bike,2023-01-22 10:52:58,2023-01-22 11:01:44,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,-87.594747,41.809835,member,10:52,Sunday,Jan-2023,8.766667
4,3397017529188E8A,classic_bike,2023-01-12 13:58:01,2023-01-12 14:13:20,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,-87.594747,41.809835,member,13:58,Thursday,Jan-2023,15.316667

Checking for missing data

In [25]:
print(f'Tota of missing value : {bike['ride_type'].isna().sum()}')
print(f'Tota of missing value : {bike['ride_type'].isna().sum()}')
print(f'Tota of missing value : {bike['start_time'].isna().sum()}')
print(f'Tota of missing value : {bike['end_time'].isna().sum()}')
print(f'Tota of missing value : {bike['member_type'].isna().sum()}')

Tota of missing value : 0
Tota of missing value : 0
Tota of missing value : 0
Tota of missing value : 0
Tota of missing value : 0

Saving the DataFrame to a CSV file

In [27]:
bike.to_csv(r"D:\Portfolio\New\track\share_bike.csv",index= False , header= True)

 Get the descriptive statistics

In [30]:
bike.groupby('member_type')['length_time'].sum()

member_type
casual    5.813500e+07
member    4.583760e+07
Name: length_time, dtype: float64

In [39]:
# Get the descriptive statistics of the 'length_time' 
pd.DataFrame(bike['length_time'].describe(). apply(lambda x : format (x,'f'))).rename(columns={'length_time':'all_member'})

           all_member
count  5717640.000000
mean        18.184530
std        180.211187
min          0.000000
25%          5.416667
50%          9.533333
75%         16.916667
max      98489.066667

In [37]:
# Get the descriptive statistics of the 'length_time' column for members
pd.DataFrame(bike.loc[bike['member_type']=='member','length_time'].describe().apply(lambda x:format(x,'f'))).rename(columns={'length_time':'member'})

               member
count  3659322.000000
mean        12.526255
std         33.824597
min          0.000000
25%          4.933333
50%          8.516667
75%         14.600000
max       1559.666667

In [38]:
# Get the descriptive statistics of the 'length_time' column for members
pd.DataFrame(bike.loc[bike['member_type']=='casual','length_time'].describe().apply(lambda x:format(x,'f'))).rename(columns={'length_time':'casual'})

               casual
count  2058318.000000
mean        28.243934
std        296.682721
min          0.000000
25%          6.616667
50%         11.850000
75%         22.150000
max      98489.066667